.purchaseContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10% 18px 10%;
    padding: 10px 10px 10px 10px;
    background-color: black;
    border-radius: 7px;
    border: solid 2px;
}

.purchaseContainer .purchaseDate {
    align-self: flex-start;
}

.productDetails, .amountInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
    background-color: white;
    border-radius: 7px;
    margin: 0px 10px 0px 10px;
    padding: 10px;
}

.orderSummary {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}

.imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 7px;
}

.imageWrapper img {
    max-height: 70%;
    border-radius: 7px;
    max-width: 100%;
}

